.reveal {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 42px;
    font-weight: normal;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal code {
    font-family: monospace;
    text-transform: none;
    width: 110%;
    height: 100%;
}

.reveal .method {
    text-transform: none;
}

.reveal .method::before {
    border-radius: 50%;
    border: medium solid;
    padding: 4px;
    font-family: Monospaced, monospace;
    font-weight: bold;
    font-size: 40%;
    vertical-align: super;
    margin-right: 10px;
}

.reveal .jdk-11::before {
    content: '11';
}

.reveal .jdk-12::before {
    content: '12';
}

.reveal .jdk-13::before {
    content: '13';
}

.reveal .jdk-14::before {
    content: '14';
}

.reveal .jdk-15::before {
    content: '15';
}

.reveal .jdk-16::before {
    content: '16';
}

.reveal .jdk-17::before {
    content: '17';
}

.reveal .jdk-18::before {
    content: '18';
}

.reveal .jdk-19::before {
    content: '19';
}

.reveal .jdk-20::before {
    content: '20';
}

.reveal .jdk-21::before {
    content: '21';
}

ol.two-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
